name: Check backend

on: [push, pull_request]

permissions: read-all


env:
  POETRY_NO_INTERACTION: 1

jobs:
  code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.14

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade -r poetry_requirements.txt
          python -m pip install --upgrade import-linter
          python -m poetry install --extras "code_quality dev" --no-root

      - name: Flake8
        working-directory: ./backend
        run: |
          poetry run flake8 . --count --show-source --statistics

      - name: Black
        working-directory: ./backend
        run: |
          poetry run black . --check

      - name: isort
        working-directory: ./backend
        run: |
          poetry run isort . -c

      - name: MyPy
        working-directory: ./backend
        run: |
          ./bin/run_mypy.sh

      - name: PyLint
        working-directory: ./backend
        run: |
          ./bin/run_pylint.sh

      - name: Import linter
        working-directory: ./backend
        run: |
          lint-imports --no-cache

  unittests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Unittests
        run: |
          docker build -f docker/backend/unittests/django/Dockerfile -t secobserve_backend_unittests:latest .
          docker run --rm \
            --volume ./backend:/home \
            --env-file docker/backend/unittests/envs/django \
            --env-file docker/backend/unittests/envs/sqlite \
            secobserve_backend_unittests:latest
      - name: "Upload coverage report"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: backend/coverage.xml
          retention-days: 1

  check_code_sonarqube_backend:
    if: github.repository == 'SecObserve/SecObserve' && (github.ref == 'refs/heads/dev' || github.event_name == 'pull_request')
    needs: [unittests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0  
      - name: Download a single artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: coverage-report
      - name: Run SonarQube scan for backend
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_BACKEND }}
        with:
          projectBaseDir: backend
