name: Publish docs

on:
  push:
    branches:
      - main
      - chore/docs_copyright

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r mkdocs_requirements.txt
      # MkDocs does not support adding non-installed (local) plugins via configuration alone.
      # By setting PYTHONPATH to mkdocs_plugins, we ensure MkDocs can import custom plugins from this directory.
      - env:
          PYTHONPATH: docs/mkdocs_plugins
        run: mkdocs gh-deploy --force
