name: Publish docs

on:
  push:
    branches:
      - main
      - chore/docs_copyright

permissions: read-all

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r mkdocs_requirements.txt
      # MkDocs does not support adding non-installed (local) plugins via configuration alone.
      # By setting PYTHONPATH to mkdocs_plugins, we ensure MkDocs can import custom plugins from this directory.
      - env:
          PYTHONPATH: docs/mkdocs_plugins
        run: mkdocs gh-deploy --force
